.deckBuilderContainer {
    
    position: fixed;
    right: 0;
    left: 0;
    top:initial;
    bottom: 0;
    z-index: 2;
    
    &.hideDeckBuilder {
        top:102%;
        bottom:initial;

    }
    .btnContainer {
        display:flex;
        flex-direction: flex-start;
        padding-left:10px;
        padding-right:10px;
        padding-bottom:5px;
        position: relative;
    }
    .messageModal {
        position: absolute;
    }
    .clearDeckBtn, .copyDeckBtn  {
        
        padding:7px;
        font-weight: bold ;
        font-family: verdana;
        border:none;
        
        transform: skew(-15deg);

        div {
            transform:skew(15deg);
        }

    }
    .copyDeckBtn  {
        background-color:#ffdc00;
        color:rgb(5, 5, 5);
        width:140px;
        text-transform: uppercase;
        transition:all 0.125s ease-in;
        &:active {
            background-color: rgb(5, 5, 5);
            color: #ffdc00;
        }
    }
    .clearDeckBtn {
        background-color:rgb(50, 50, 50);
        color:white;
        margin-left:5px;
    }
    
}
.deckBuilderWrapper {
    background-color: rgba(50, 50, 50, 0.85);
    padding:10px;
}
.deckBuilder {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    .deckSlot {
        background-color: rgb(150, 150, 150);
        
        min-width: 0;
        min-height: 0;

        ::v-deep img {
            width: 100%;
        }
    }
}

.pageContainer {
    position: relative;
}

#buttonGoTop {
    display: none;
    position: fixed;
    bottom: 35vw;
    right: 0;
    z-index: 99;
    font-size: 18px;
    outline: none;
    background-color: purple;
    color: rgb(240,240,240);
    text-transform: uppercase;
    border: solid 1.5px ;
    border-right: 0;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &.moveDown {
        /*ACTIVE WHEN DECKBUILDER HIDDEN*/
        bottom: 20px;
    }
    :hover {
        background-color: #555;
    }
}

.type {
    &-atk-l:after {
        content: "ATK (Long Distance)";
    }

    &-atk-s:after {
        content: "ATK (Short Distance)";
    }

    &-atk-r:after {
        content: "ATK (Rush)";
    }

    &-atk-c:after {
        content: "ATK (Circumference)";
    }

    &-warp:after {
        content: "WARP";
    }

    &-buff:after {
        content: "BUFF";
    }

    &-move:after {
        content: "MOVE";
    }

    &-heal:after {
        content: "HEAL";
    }

    &-trap:after {
        content: "TRAP";
    }
}

#discQueryHolder {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .field {
        display: grid;
        position: relative;
        padding: 20px 5px 10px 5px;
        text-align: start;
        border: solid 1.5px rgb(5, 5, 5);
        background-color: rgb(245, 245, 245);
        border-radius: 2px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
        margin-top: 5px;
        align-items: center;
        .buttonFilter {
            padding:3px 13px 3px 13px;
            &.activeFilter {
                background-color: rgb(5, 5, 5);
                color: #ffdc00;
                
                
               
            }
        }
        

        .fieldLabel {
            background-color: rgb(5, 5, 5);
            color: rgb(250, 250, 250);
            padding: 3px 6px;
            position: absolute;
            top: -10px;
            left: 10px;
        }
    }

    .fieldType {
        grid-template-columns: 1fr 1fr;

        .buttonAll {
            grid-column: 1 / span 2;
        }
    }

    .fieldElement {
        min-width: 100px;
    }

    .fieldRarity {
        min-width: 100px;
    }

    .fieldElement .buttonFilter {
        text-transform: capitalize;
    }

    .fieldRarity .buttonFilter {
        text-transform: uppercase;
    }
}

.discGridContainer {
    background-color: #f5f5f5;
}

.discGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 10px;
    padding: 10px;
    grid-gap: 5px;
}

.discWrapper {
    display: none;
    /*
    &.showDisc to display:grid;
    */
    position: relative;
    background-color: rgb(250, 250, 250);
    grid-template-rows: 2em 2em 220px 1fr;
    grid-template-areas:
        "discName discName"
        "discType discType"
        "discImage discImage"
        "discSkill discSkill";

    .discName {
        grid-area: discName;
        background-color: rgb(5, 5, 5);
        color: rgb(245, 245, 245);
        font-weight: bold;
        line-height: 32px;
    }

    .discType {
        grid-area: discType;
        background-color: rgb(100, 100, 100);
        color: rgb(250, 250, 250);
        line-height: 32px;
    }

    .discElement {
        grid-area: discElement;
        text-transform: capitalize;
    }

    .discRarity {
        grid-area: discRarity;
        text-transform: uppercase;
    }

    .discImage {
        grid-area: discImage;
        background-color: rgb(230, 230, 230);
        height: 220px;
        padding-top: 10px;

        img {
            height: 200px;
        }
    }

    .discSkill {
        grid-area: discSkill;
        align-self: stretch;
        background-color: rgb(245, 245, 245);
        padding: 5px;
        font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300)));
    }

    &.active {
        .discImage {
            background-color: yellow !important;
        }
    }

    &::before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(50, 50, 50, 0.5);
        content: "";
        display: none;
    }

    &::after {
        content: "Already In Deck";
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }

    &.inDeck::before {
        display: block;
    }

    &.inDeck::after {
        display: block;
    }


    /*FOR FILTERING*/
    &.showDisc {
        display:grid;


    }
}

@media screen and (max-width: 769px) {
    .discGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 426px) {
    .discGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 426px) {
    .discGrid {
        .discWrapper .discImage img {
            height: 175px;
        }
    }

    .discSkill {
        text-align: left;
    }




}

@media screen and (max-width: 376px) {
    .type {
        &-atk-l:after {
            content: "ATK (Long)";
        }

        &-atk-s:after {
            content: "ATK (Short)";
        }

        &-atk-c:after {
            content: "ATK (Circle)";
        }
    }
}

@media screen and (max-width: 376px) {
    #discQueryHolder {
        .field {
            

            display: flex;
            flex-direction: column;
            align-items: stretch;
            .fieldLabel {
                left: 6%;
            }
        }
        .fieldType {
            width:40vw;

        }
        .fieldRarity,
        .fieldElement {
            min-width: initial;
            
        }
    }
}

@media screen and (max-width: 321px) {
    .discGrid {
        grid-template-columns: repeat(1, 1fr);

        .discWrapper .discImage img {
            height: 200px;
        }
    }
}

.filterHidden {
    display: none !important;
}
.hideDeckBuilder {
    position: fixed;
    height: 50px;
    width: 50px;
    color: #050505;
    background-color: #ffdc00;
    border: 1px solid ;
    line-height: 50px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 25px;
    left: 10px;
    &.active {
        bottom:10px;
        background-color: rgb(5, 5, 5);
        color:#ffdc00;
    }
}
/* CUSTOM MEDIA QUERIES FOR DECK SLOT AND BTN GO TOP*/
@media screen and (max-width:620px) {
    .deckBuilder {
        .deckSlot {
            height: 28vw;

        }
    }
    .hideDeckBuilder {
        
        bottom:calc(153px + (240 - 153) * ((100vw - 320px) / (620 - 320)));
    }

}
@media screen and (min-width:620px) {
    .hideDeckBuilder {
        bottom:10px;
    }
    .deckBuilderContainer {
        right:initial;
        left:50%;
        transform:translateX(-50%);
        width:600px;

    }
    #buttonGoTop {
        bottom:20px;
       
    }
    .deckBuilder {
        .deckSlot {
            height: 160px;

        }
    }
    
        
#discQueryHolder{
    .field{
        &.fieldType {
            width:400px;
        }
        .buttonFilter {
            &.activeFilter {
                &:before {
                    content:"◈ ";
        
                }
            }
        }
    }
}
  
    
}
 